@model First_site_V2.Storage.Entity.Page

@*<h1>Глaвная страница</h1>

<h2> @Model.name @Model.surname</h2>
<div><img src="~/css/klim-revolt.jpg" height="300" width="300" alt="@Model.name @Model.surname"/> </div>*@



<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-1-3">
            
                <form action =@Model.png target="_blank"><button ><img src=@Model.png height="300" width="300" alt="@Model.name @Model.surname" /></button></form>
            </div>

            <div class="col-2-3"><h2> @Model.name @Model.surname</h2><p>@Model.status</p></div>
        </div>
        <div class="row">
            <div class="col-1-3"></div>
            <div class="col-2-3"></div>
        </div>
        <div class="row">
            <div class="col-1-4"></div>
            <div class="col-1-4"></div>
            <div class="col-1-2"></div>
        </div>
    </div>
</div>